<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="NewPasTransfDbConnection" connectionString="data source=Darjushka\sqlexpress; Initial Catalog=kursovaya_bd_PassengerTransfers; MultipleActiveResultSets=True;App=EntityFramework;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>